<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test" parallel="false">
    <test name="Automation test">
        <classes>
            <class name="TestPages.LoginTestPage">
                <methods>
                    <include name="verifyValidLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>