<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test" parallel="classes" thread-count="2">

    <test name="Practice and Login Tests">
        <classes>

            <class name="TestPages.PracticeTestPage">
                <methods>
                    <include name="clickOnLoginTestPage"/>
                </methods>
            </class>

            <class name="TestPages.LoginTestPage">
                <methods>
                    <include name="verifyInvallidLogin"/>
                    <include name="verifyValidLogin"/>
                </methods>
            </class>

        </classes>
    </test>

</suite>